<div class="hero-unit">
	<h1>Welcome to Feather &amp; Mint</h1>
	<p>
		You've found the home page for the 
		<%= link_to "Feather & Mint", "http://onemonthrails.com" %> 
		application!
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", :class => "btn btn-large btn-primary" %>
	</p>
</div>


