<% if user_signed_in? %>
	<h1>Prepare to get Feathered</h1>
	<p>
		Welcome to the exclusive sign in page of Feather &amp; Mint.
		Please fill out your profile below. </p>
	<div>	
	<li>Wifi</li>
	<li>Amenities</li>
	<li>Recommend</li>
	<li>Checkout</li>	
	</div>


<% else %>	


    
  	<div class="hero-unit">
		<h1>Welcome to Feather &amp; Mint</h1>
		<p>
			You've found the home page for the 
			<%= link_to "Feather & Mint", "http://featherandmint.com" %> 
			application!
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, :class => "btn btn-large btn-primary" %>
		</p>
	</div>

 <div class="container">
 	<div class="row">
 		<div class="middle">
 		<h2> What the fuck? 
 		</h2>
 		<br>
 		<div class="span3">
 			<p> 
 			<strong> Web Design
 			</strong>
 			"What the fuck man? I didn't know shit was spossed ta be here?"
 			</p>
 		</div>	
 		<div class="span3">
 			<p> 
 			<strong> Web Design
 			</strong>
 			"What the fuck man? I didn't know shit was spossed ta be here?"
 			</p>
 		</div>
 			<div class="span3">
 			<p> 
 			<strong> Web Design
 			</strong>
 			"What the fuck man? I didn't know shit was spossed ta be here?"
 			</p>
 		</div>
 			<div class="span3">
 			<p> 
 			<strong> Web Design
 			</strong>
 			"What the fuck man? I didn't know shit was spossed ta be here?"
 			</p>
 		</div>

 		</div>
 	</div>
</div>


<% end %>

