<% if user_signed_in? %>
	<h1>Prepare to get Feathered</h1>
	<p>
		Welcome to the exclusive sign in page of Feather &amp; Mint.
		Please fill out your profile below. </p>
	<div>	
	<li>Wifi</li>
	<li>Amenities</li>
	<li>Recommend</li>
	<li>Checkout</li>	
	</div>


<% else %>	


    
  	<div class="hero-unit">
		<h1>Spatial Futures</h1>
		<!--<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, :class => "btn btn-large btn-primary" %>
		</p>-->
	</div>

 <div class="container">
 	<div class="row">
 		<div class="middle">
 		<h6>~ Interests ~
 		</h6>
 		<br>
 		<div class="span3">
 			<p> 
 			<h4> Computation
 			</h4>
 			<p>
 			I'm interested in the merger between computation and other disciplines.
 			</p>
 			</p>
 		</div>	
 		<div class="span3">
 			<p> 
 			<h4> Entrepreneurship
 			</h4>
 			<p>How can designers leverage their skillsets to develop business models that work?
 			</p>
 			</p>
 		</div>
 			<div class="span3">
 			<p> 
 			<h4> Design Thinking
 			</h4>
 			<p>Design thinking is strategic thinking at its best.
 			</p>
 			</p>
 		</div>
 			<div class="span3">
 			<p> 
 			<h4> Neuro-Computation
 			</h4>
 			<p>The complexity of future thinking is embodied here.
 			</p>
 			</p>
 		</div>

 		</div>
 	</div>
</div>


<% end %>

