<div class="footer">
	<small>
	<li><%= link_to "Twitter", "http://www.twitter.com/georgevaldes"%></li>
	<li><%= link_to "Feather & Mint", "http://featherandmint.com" %></li> 
	 <li><%= link_to "George Valdes", "http://georgevaldes.tumblr.com" %></li>
	
	</small>
</div>
